CLIENTS_PATH="materials/clients.csv"
COMMUNICATIONS_PATH="materials/communications.csv"

FATIGUE_START_DATE=2026-08-31
FATIGUE_END_DATE=2026-09-14

OWN_HISTORY_MIN_COUNT=3
SIM_COEF=0.7
OWN_COEF=0.3
FATIGUE_COEFFICIENT_POSITIVE=1.0
FATIGUE_COEFFICIENT_NEGATIVE=0.7
UNSUCCESSFUL_COMMS_THRESHOLD=1
